* {
    box-sizing: border-box;
}

body {
	margin: 0;
	background: hsl(0, 0%, 10%);
	font-family: "Helvetica Neue";
}

main {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

canvas {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	/* position: absolute; */
	/* left: 50%; top: 50%; */
	/* transform: translate(-50%, -50%); */
}

button {
	display: block;
}

input[type="text"] {
	background: hsl(0, 0%, 14%);
	font-size: 12pt;
	text-align: center;
	color: hsl(0, 0%, 90%);
	border: hsl(190, 0%, 50%) 2px solid;
	border-radius: 4px;
	padding: 2pt 4pt;
	outline: none;
	vertical-align: middle;
}

input[type="text"] {
	margin-bottom: 4px;
}

input[type="text"].figure {
	border: hsl(190, 100%, 50%) 2px solid;
}

input[type="text"].figure:focus {
	background: hsl(190, 100%, 50%);
	color: hsl(0, 0%, 14%);
}

input[type="text"].figure:focus::selection {
	background-color: hsl(190, 100%, 30%);
}

input[type="text"].mirror {
	border: hsl(0, 100%, 50%) 2px solid;
}

input[type="text"].mirror:focus {
	background: hsl(0, 100%, 50%);
	color: hsl(0, 0%, 14%);
}

input[type="text"].mirror:focus::selection {
	background-color: hsl(0, 100%, 30%);
}

.hidden {
	display: none !important;
}

header {
	background: hsl(200, 100%, 50%);
	font: 300 16pt "Helvetica Neue";
	padding: 2pt 4pt;
}

.parametric-equation {
	display: inline-block;
}

.parametric-equation, .parametric-equation > .divider {
	font: 18pt "Helvetica Neue";
}

.parametric-equation::before {
	content: "(";
	padding-right: 4pt;
}

.parametric-equation::after {
	content: ")";
	padding-left: 4pt;
}

.parametric-equation > .divider::after {
	content: ",";
	padding: 0 4pt;
}

.options {
	background: hsl(0, 0%, 16%);
	color: hsl(0, 0%, 90%);
	padding: 6pt 8pt;
	font: 300 12pt "Helvetica Neue";
	margin-bottom: 8pt;
	min-height: 74pt;
}

label {
	padding: 0 4pt;
}

label:first-child {
	padding-left: 0;
}

.variables:empty {
	padding: 0;
}

.variables {
	display: inline-block;
	padding: 2pt 4pt;
	background: hsl(0, 0%, 30%);
	border-radius: 4px;
}

.variable {
	color: hsl(0, 0%, 90%);
}

.variable {
	padding: 2pt 4pt;
}

.variable .value {
	display: inline-block;
	min-width: 26pt;
	text-align: right;
	margin-right: 4pt;
}

.dev-options {
	float: right;
	text-align: right;
}

input[type=range] {
	-webkit-appearance: none;
	background: transparent;
}

input[type=range]:focus {
	outline: none;
}

input::-webkit-slider-runnable-track {
	background: hsl(200, 100%, 50%);
	height: 1em;
	border-radius: 1em;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: hsl(200, 100%, 35%);
	width: 1.5em; height: 1.5em;
	border-radius: 100%;
	margin-top: -0.25em;
	box-shadow: hsla(0, 0%, 0%, 0.1) 0 2px 2px;
}

input[type=checkbox]:focus {
	outline: none;
}

input[type=checkbox] {
	-webkit-appearance: none;
	width: 1.5em; height: 1.5em;
	background: transparent;
	border: hsl(200, 100%, 50%) 2px solid;
	vertical-align: bottom;
	border-radius: 4px;
}

input[type=checkbox]:checked {
	background: hsl(200, 100%, 50%);
}
input[type=checkbox]:checked::before {
	display: block;
	position: relative;
	content: "✓";
	text-align: center;
	color: hsl(0, 0%, 10%);
}
