* {
    box-sizing: border-box;
}

body {
	background: hsl(0, 0%, 10%);
}

canvas {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

input, button {
	display: block;
}

input[type="text"] {
	background: hsl(0, 0%, 14%);
	font-size: 20pt;
	color: hsl(0, 0%, 90%);
	border: hsl(190, 100%, 50%) 2px solid;
	border-radius: 4px;
	padding: 2pt 4pt;
	outline: none;
}

input[type="text"]:focus {
	background: hsl(190, 100%, 50%);
	color: hsl(0, 0%, 14%);
}

input[type="text"]:focus::selection {
	background-color: hsl(190, 100%, 30%);
}
